
#testez {
    background-color: #EBEBEB

    ;
}

#testes {
    background-color: #3d88eb
}


#boxprodutos {
    transform: scale(0.9);
    transition: all ease 0.3s;
    box-shadow: 1px 1px 15px black
        
}
#boxprodutos:hover {
    transform: scale(0.96);
    transition: all ease 0.2s;
    box-shadow: 1px 1px 20px #3d88eb
}
